/* Footer */
.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.05);

  padding-top: 4.8rem;
}
/* Footer-Top */
.footer-top {
  display: flex;
  justify-content: space-between;

  margin-bottom: 4.7rem;
}
.footer-top__arrow-block {
  display: none;
}
.footer-top__title {
  margin-bottom: 3.2rem;

  font-size: 1.8rem;
  font-weight: 400;
  color: var(--light-color);
}
.footer-top__ul {
  display: flex;
  flex-direction: column;

  list-style: none;
}
.footer-top__li {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.footer-top__li:last-child {
  margin-bottom: 0;
}
.footer-top__link {
  color: #808285;
  text-decoration: none;
}
.footer-top__link:hover {
  color: var(--primary-color);
}

/* Footer-Networks */

.footer-networks {
  display: flex;
  align-items: center;

  padding: 2.5rem 0;

  border-top: 1px solid #424242;
  border-bottom: 1px solid #424242;
}
.footer-networks__content {
  display: flex;
  justify-content: space-between;

  width: 100%;
}
.footer-networks__item:first-child {
  display: flex;
  justify-content: space-between;
  width: 40rem;
}
.footer-networks__img {
  transition: 0.15s all ease-in-out;
}
.footer-networks__img:hover {
  opacity: 0.9;
}
.footer-networks__item:nth-child(2) {
  display: flex;
}
.footer-networks__item-box {
  display: flex;
  align-items: center;
}
.footer-networks__item-box:first-child {
  margin-right: 1rem;
}
.footer-networks__box-text {
  color: var(--light-color);
  font-size: 1.4rem;
  padding-left: 0.5rem;
}
.footer-networks__item:last-child {
  max-width: 20rem;
}
.footer-networks__another-link {
  font-size: 1.4rem;
  color: var(--light-color);
  text-decoration: none;
  font-weight: 400;
  line-height: 150%;
}
/* Footer-Bottom */
.footer-bottom {
  margin-top: 7.4rem;
  margin-bottom: 7.4rem;
}
.footer-bottom__content {
  display: flex;
}
.footer-bottom__logo-link {
  width: 11.7rem;
}
.footer-bottom__logo {
  width: 100%;
}
.footer-bottom__text {
  margin: auto 19.3rem 0 7.3rem;

  font-size: 1.4rem;
  color: var(--light-color);
  line-height: normal;
}
.footer-bottom__box {
  display: flex;
  align-items: center;
}
.footer-bottom__box-left,
.footer-bottom__box-right {
  cursor: pointer;
}
.footer-bottom__box-left:hover,
.footer-bottom__box-right:hover {
  opacity: 0.8;
}
.footer-bottom__box-left {
  margin-right: 2rem;
}

/* Адаптивка */

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .footer-container {
    max-width: none;
    width: 100%;
  }

  .footer-top {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
  }
  .footer-top__item {
    margin-top: 3rem;
    padding: 0 3rem 3rem 3rem;
    border-bottom: 1px solid #424242;
  }
  .footer-top__arrow-block {
    position: relative;
    top: 4.3rem;
    right: 2rem;
    display: flex;
    justify-content: end;
  }
  .footer-top__arrow {
    color: var(--light-color);
    font-size: 3rem;
    transition: 0.3s;
  }
  .rotate {
    transform: rotate(90deg);
  }

  .footer-top__title {
    font-size: 4rem;
  }
  .footer-top__ul {
    display: none;
  }
  .visible {
    display: inline-block;
  }
  .footer-top__link {
    font-size: 3rem;
    line-height: 250%;
  }
  .footer-top__li:last-child {
    margin-bottom: 2rem;
  }
  /* VISIBLE */

  /* Footer-Networks */
  .footer-networks {
    border-top: none;
    border-bottom: none;
  }
  .footer-networks__content {
    flex-direction: column;
    height: 25rem;
  }
  .footer-networks__item:first-child {
    width: auto;
  }
  .footer-networks__item:nth-child(2) {
    margin-top: 5rem;
    justify-content: space-around;
  }
  .footer-networks__item:last-child {
    display: flex;
    justify-content: center;

    max-width: 40rem;
    margin: 2rem auto;
  }
  .footer-networks__box-text {
    font-size: 3rem;
  }
  .footer-networks__another-link {
    text-align: center;
    font-size: 3rem;
  }
  .footer-bottom__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .footer-bottom__logo-link {
    flex-basis: 50%;

    order: 2;
  }
  .footer-bottom__logo {
    width: auto;
  }
  .footer-bottom__text {
    text-align: end;

    flex-basis: 50%;
    margin: 0;

    font-size: 3rem;
    order: 3;
  }
  .footer-bottom__box {
    flex-basis: 100%;
    justify-content: center;

    margin-bottom: 7rem;
    order: 1;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .footer-top {
    display: flex;
    justify-content: space-between;
  }
  .footer-top__arrow-block {
    display: none;
  }
  .footer-top__ul {
    display: flex;
  }
  .footer-networks__img {
    width: 7rem;
    height: 7rem;
  }
}
