/* Mob */
.mob {
  display: none;
}


/*  */
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;

  z-index: 100;

  /* background-color: transparent; */
  background-color: unset;

  transition: .8s;
}
.header_active {
  background-color: var(--second-color);
}
.header__content{
  display: flex;
  flex-direction: column;
}

/* Header-Top */
.header-top{
  border-bottom: 1px solid rgba(255, 255, 255, .05);
}
.header-top__content{
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 4.7rem;
}
.header-top__nav{
  display: flex;
  justify-content: space-between;

  width: 62.5rem;
}
.header-top__link{
  text-decoration: none;
  color: var(--light-color);
  font-size: 1.5rem;
}
.header-top__link:hover{
  color: var(--primary-color);
}
.header-top__right-box{
  display: flex;
  justify-content: space-between;
  width: 28rem;
}
.header-top__mute-link{
  color: #909090;
}
/* Header-Bottom */

.header-bottom__content{
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* height: 8rem; */
}
.header-bottom__left{
  display: flex;
  align-items: center;
}
.header-bottom__logo-link{
  margin-right: 2.4rem;
}
.header-bottom__nav{
  display: flex;
  justify-content: space-between;

  width: 72.6rem;
}
.header-bottom__link{
  position: relative;

  display: inline-block;

  padding: 2.8rem 0;

  color: var(--light-color);
  font-size: 1.7rem;
  line-height: 144%;
  text-decoration: none;
}
.header-bottom__link::before{
  content: '';
  position: absolute;
  top: 8.04rem;
  left: 0;
  height: 3px;
  width: 100%;
  opacity: 0;
  transform: scale(0);
  background: #fd0;
  transition: all 0.2s ease-in;
} 
.header-bottom__link:hover.header-bottom__link::before{
  opacity: 1;
  transform: scale(1);
}
.header-bottom__list {
  position: absolute;
  top: 8.35rem;
  left: -8rem;

  display: none;
  flex-direction: column;
  justify-content: space-between;

  width: 20rem;
  height: 25rem;

  padding: 2rem 0;

  border-radius: 0 0 3rem 3rem;
  background-color: var(--second-color);
  list-style: none;
}
.header-bottom__link_active:hover .header-bottom__list {
  display: flex;
}

.header-bottom__list-item {
  text-align: center;
  font-size: 1.5rem;  
}
.header-bottom__right{
  display: flex;
}
.header-bottom__search-btn{
  margin-right: 4.2rem;
  
  background-color:unset;
  border: none;
  cursor: pointer;
}

/* Адаптивка */
@media screen and (min-width: 320px) and (max-width: 1024px) {
  /* Отключаю блоки */
  .header-top {
    display: none;
  }
  .header-bottom__nav {
    display: none;
  }
  .header-bottom__search-btn {
    display: none;
  }
  
  /* Настраиваю бургер меню */
  .mob {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 3.5rem;
  }
  .mob__item {
    width: 4.5rem;
    height: .5rem;
    background-color: var(--dark-color);
  }
  /* Изменяю нынешний код */

  /* Header */
  .header {
    box-shadow: 0 2px 4px rgb(0 0 0 / 12%);
  }
  .header-bottom__content {
    display: flex;
    justify-content: space-between;

    margin: 3rem 0;
  }
  .header-bottom__left {
    position: relative;
    top: 0;
    left: 2rem;
  }
  .header-bottom__logo-link {
    margin-right: 0;
  }

}
