/* Intro */

.intro {
  background: linear-gradient(160deg, #ff0f52 -15%, rgba(26, 20, 59, 0) 45%);
}
.intro__content {
  padding-top: 12.8rem;
  padding-bottom: 10rem;
  background-image: url(../img/intro_banner.png);
  background-repeat: no-repeat;
  background-position: left 48rem top 12rem;
  background-size: 70rem;
}
.intro__title {
  margin-top: 12rem;

  font-size: 4.2rem;
  line-height: 5.2rem;
  font-weight: 700;
  color: var(--light-color);
  margin-bottom: 1.6rem;
}
.intro__subtitle {
  max-width: 45rem;
  font-size: 2rem;
  line-height: 132%;
  color: #fff;
}
.intro__box {
  display: flex;
  align-items: center;
  margin-top: 3.6rem;
}
.intro__btn {
  padding: 2rem 4.4rem;

  height: 7.2rem;

  border: none;
  border-radius: 1.6rem;

  font-size: 2rem;
  line-height: 130%;
  font-weight: bold;
  color: var(--light-color);
  cursor: pointer;
  background-color: #ff0f52;
  margin-right: 2.5rem;
}
.intro__connect {
  color: var(--light-color);
  font-size: 2rem;
  font-weight: 700;
  line-height: 130%;
  cursor: pointer;
}
.intro__img-link {
  margin-left: 1rem;
}
.intro__img {
  vertical-align: middle;
}

/* Tarif */
.tarif {
  margin-top: 5rem;
}

.tarif__container {
  max-width: 77.7rem;
  margin: 0 auto;
}
.tarif__title-box {
  display: flex;
  justify-content: center;

  max-width: 90%;
  margin: 0 auto;
}
.tarif__title {
  text-align: center;

  font-size: 3.6rem;
  font-weight: 700;
  line-height: 132%;
  color: var(--light-color);
  padding-bottom: 3.2rem;
}
/* Tarif-Items */
.tarif__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}
.tarif__item {
  width: 100%;
  height: 66rem;

  padding: 3rem;

  background: #211943;
  border: none;
  border-radius: 1.2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.tarif__item:hover {
  background-color: #251b5a;
}
/* Tarif-Item-Top */
.tarif__item-top {
  display: flex;

  height: 10rem;

  border-bottom: 1px solid #3c2f78;
}
.tarif__item-top > img {
  width: 6.8rem;
  height: 6.8rem;
  margin-right: 1.8rem;
}
.tarif__top-title {
  font-size: 1.8rem;
  line-height: 132%;
  font-weight: 700;
  color: var(--light-color);
}
.tarif__price {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 132%;
  margin-right: 0.8rem;
  color: var(--light-color);
}
.tarif__price > span {
  line-height: 92%;
  border-bottom: 2px solid var(--light-color);
  font-weight: 700;
  font-size: 2.5rem;
}
.tarif__line {
  color: var(--grey-color);
  font-size: 1.4rem;
  line-height: 144%;
}
/* Tarif-Params */

.tarif__params {
  margin-top: 2.8rem;
  height: 30rem;
}
.tarif__params-title {
  font-size: 1.6rem;
  line-height: 144%;
  font-weight: 700;
  margin-bottom: 1.8rem;
  color: #e60040;
}
.tarif__param {
  margin-bottom: 1.8rem;

  font-weight: 500;
  font-size: 1.8rem;
  line-height: 132%;
  color: var(--light-color);
}
.tarif__param > span {
  font-size: 1.6rem;
  line-height: 144%;
  font-weight: 400;
  color: var(--grey-color);
}
.tarif__param > img {
  vertical-align: middle;
}

/* Tarif-Bottom */

.tarif__bottom {
  margin-top: 8rem;
}
.tarif__btn {
  width: 100%;

  padding: 2rem 0;

  font-weight: 700;
  background: #ffcd00;
  color: #191919;
}
.tarif__link {
  display: block;
  text-align: center;

  margin-top: 2rem;

  color: #6c60a9;
  font-size: 1.6rem;
  line-height: 144%;
  text-decoration: none;
}
.tarif__link:hover {
  color: var(--dark-color);
}

/* Tarif-Box */

.tarif__box {
  padding: 3rem;
  margin-top: 3rem;
  background: #211943;
  border: none;
  border-radius: 1.2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.tarif__box:hover {
  background-color: #251b5a;
}
.tarif__box-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 10rem;

  width: 100%;

  padding-bottom: 2rem;
  border-bottom: 1px solid #3c2f78;
}
.tarif__box-left {
  display: flex;
}
.tarif__box-img {
  width: 6.8rem;
  height: 6.8rem;
  margin-right: 1.8rem;
}
.tarif__box-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2.9rem;
}
.tarif__link {
  margin-left: 2.8rem;
}
.tarif__box-btn {
  margin-right: 2.8rem;
  max-width: 32rem;
}

/* Mobile */

.mobile {
  margin-top: 10rem;
}
.mobile__container {
  max-width: 92.3rem;
  margin: 0 auto;
}

.mobile__content {
  display: grid;
  grid-template-columns: 1fr 2fr;

  background: url(../img/bg_iphone.svg) no-repeat;
  background-size: contain;
  background-position: 10px -10px;
}
.mobile__img {
  position: relative;
  right: 8rem;

  width: 42.2rem;
}
.mobile__right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.mobile__title {
  font-size: 4.2rem;
  line-height: 5.2rem;
  color: var(--light-color);
  font-weight: 700;
}
.mobile__subtitle {
  font-size: 2rem;
  line-height: 132%;
  color: var(--light-color);
}
.mobile__link-box {
  display: flex;
  justify-content: space-between;

  max-width: 33.5rem;
}
.mobile__line {
  width: 23rem;
  height: 0.1rem;

  background: rgba(232, 232, 232, 0.1);
}
.mobile__text {
  font-size: 1.4rem;
  line-height: 144%;
  color: var(--light-color);
}
.mobile__btn {
  display: flex;
  align-items: center;
}
.mobile__btn-img {
  margin-left: 1rem;
}

/* Advantages */

.advantages {
  margin-top: 5rem;
}
.advantages__content {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 0;
}
.advantages__item {
  display: flex;
  list-style: none;
}
.advantages__item:first-child {
  flex-basis: 35%;
}
.advantages__item:nth-child(2) {
  flex-basis: 25%;
}
.advantages__item:nth-child(3) {
  flex-basis: 40%;
}
.advantages__item:nth-child(4) {
  flex-basis: 46%;
}
.advantages__item:nth-child(5) {
  margin-left: 5rem;
  flex-basis: 38%;
}
.advantages__text {
  font-size: 2rem;
  color: var(--light-color);
  margin-left: 2.4rem;
}
/* Ivi-Star */

.ivi-star {
  position: relative;

  margin-top: 14rem;

  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 144%;
}
.ivi-star::before {
  content: '*';
  position: absolute;
  top: 0;
  left: -20px;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  /* Временно */
  

  /* Настраиваю блоки */

  /* Intro */
  .intro__content {
    padding-top: 35rem;

    background-position: top 10rem center;
  }
  .intro__title {
    margin-top: 30rem;
    font-size: 6rem;
    line-height: 150%;
  }
  .intro__subtitle {
    font-size: 3.5rem;
    max-width: none;
  }
  .intro__box {
    display: flex;
    flex-direction: column;
  }
  .intro__btn {
    margin-right: 0;
    padding: 0;

    width: 100%;
    height: 10rem;

    border-radius: 3rem;
    font-size: 3.5rem;
  }
  .intro__connect {
    margin-top: 3rem;
    font-size: 3rem;
  }

  /* Tarif */

  .tarif__container {
    max-width: none;
  }
  .tarif__title {
    text-align: start;

    font-size: 5rem;
  }
  .tarif__items {
    grid-template-columns: 1fr;
  }
  .tarif__item {
    padding: 2rem;
    height: auto;
  }

  .tarif__item-top {
    height: auto;
  }
  .tarif__item-top > img {
    width: 15rem;
    height: 15rem;
  }
  .tarif__top-title {
    font-size: 3rem;
  }
  .tarif__price {
    font-size: 4.5rem;
  }
  .tarif__price > span {
    font-size: 3.5rem;
  }
  .tarif__line {
    font-size: 3rem;
  }
  .tarif__params {
    height: auto;
  }
  .tarif__params-title {
    font-size: 3.2rem;
  }
  .tarif__param {
    font-size: 3rem;
  }
  .tarif__param > span {
    font-size: 2.5rem;
  }
  .tarif__btn {
    margin-top: 2rem;
  }
  .tarif__link {
    margin-left: 0;

    font-size: 3rem;
  }
  .tarif__box-top {
    grid-template-columns: 1fr;
    border-bottom: none;
  }
  .tarif__box-left {
    padding-bottom: 1rem ;
    border-bottom: 1px solid #3c2f78;
  }
  .tarif__box-img {
    width: 12rem;
    height: 12rem;
  }
  .tarif__box-title {
    font-size: 3.5rem;
  }
  .tarif__right-title {
    margin-top: 3rem;
  }
  .tarif__box-bottom {
    grid-template-columns: 1fr;
  }
  .tarif__box-link {
    order: 2;
  }
  .tarif__box-btn {
    width: 100%;
    max-width: none;

    margin-right: 0;
    order: 1;
  }
  /* Mobile */
  .mobile__container {
    max-width: none;
  }
  .mobile__content {
    display: flex;
    flex-direction: column;

    background-position: center;
  }
  .mobile__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile__title {
    display: none;
  }
  .mobile__subtitle {
    display: none;
  }
  .mobile__adaptiv-title {
    display: inline-block;

    font-size: 4.8rem;
    line-height: 150%;
  }
  .mobile__adaptiv-subtitle {
    display: inline-block;

    margin-top: 1.5rem;

    font-size: 3.1rem;
  }
  
  .mobile__img {
    position: static;

    width: 50rem;
    margin-top: 2rem;
  }
  /*  */
  .mobile__link-box {
    padding-bottom: 4rem;

    max-width: none;

    border-bottom: 1px solid #3c2f78;
  }
  .mobile__link-img {
    width: 27rem;
  }
  .mobile__text {
    margin-top: 4rem;

    font-size: 2.7rem;
    line-height: 150%;
  }
  .mobile__btn {
    text-align: start;
    margin-top: 4rem;
    padding-left: 5rem;

    height: 15rem;
  }
  /* Advantages */
  .advantages {
    margin-top: 8rem;
  }
  .advantages__content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .advantages__item {
    align-items: center;
  }
  .advantages__item:nth-child(5) {
    margin-left: 0;
  }
  .advantages__text {
    font-size: 3rem;
  }
  /* IVI */
  .ivi-star {
    font-size: 2.8rem;
    margin-left: 2rem ;

    margin-bottom: 15rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .mobile__link-box {
    margin: 0 auto;

    width: 60rem;
  }
  
}